.entry {
    padding: 0.5rem;
}

.entry-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
}