.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
