.header {
  width: 100%;
  height: 100%;
  background-color: var(--color5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header svg {
  color: var(--color-text-minor);
}

.header-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  left: -200px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
