.hubs-wrapper {
  height: calc(100% - var(--header-height));
  margin: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hubs-wrapper > *:not(:last-child) {
  margin-right: 1.5rem;
}

.hubdetail-content {
  display: flex;
}

.hubdetail-content > *:not(:last-child) {
  margin-right: 1.5rem;
}

.hubdetail-map {
  padding: 1rem;
}

.hubdetail-info {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  width: 420px;
}

.hubdetail-info > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.hubdetail-info-section {
  padding: 1rem;
}

.hubdetail-info-section h3 {
  margin-bottom: 0.75rem;
}

.hubdetail-info-section p {
  margin-bottom: 0.5rem;
}

.hubdetail-modules {
  height: 100%;
}

.hubdetail-modules-toolbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hubs-table {
  flex-grow: 1;
}

.hubs-table-container {
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.hubs-table-toolbar {
  display: flex;
  justify-content: space-between;
}

.MuiToolbar-gutters {
  padding-right: 12px !important;
}

.hubs-table-title {
  margin-left: 1.5rem;
}

.hubs-table-location {
  width: 180px;
}
