.sidebar {
  background-color: var(--color5);
  height: 100%;
  color: var(--color-text-minor);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li p {
  margin-left: 1rem;
}

.sidebar ul li:hover {
  background-color: #2b2b2b;
}

.sidebar a {
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 120%;
  padding: 0.8rem 0 0.8rem 2.5rem;
  text-align: left;
  max-height: 4rem;
  user-select: none;
  text-decoration: none;
  outline: 0;
}

.selected-route {
  color: var(--color3);
}

.sidebar-logo {
  width: var(--sidebar-width);
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
