* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #faf9f9;
  --color2: #8f7b85;
  --color3: #c3625e;
  --color4: #835857;
  --color5: #282939;

  --color-text-minor: #a0a0a0;
  --color-text-major: #000000;
  --background-color: #e0e0e0;

  --sidebar-width: 230px;
  --header-height: 53px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Muli", serif;
  background-color: var(--background-color);
  color: var(--color-text-major);
}

.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
}

.header-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: var(--sidebar-width);
  height: var(--header-height);
  z-index: 3;
}

.content {
  position: absolute;
  width: calc(100% - var(--sidebar-width));
  height: calc(100% - var(--header-height));
  left: var(--sidebar-width);
  top: var(--header-height);
  overflow-y: hidden;
}

/*

MODAL

*/

.modal-outer-form {
  position: fixed;
  width: 600px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form-surface {
  padding: 2rem;
  margin: auto;
}

.modal-form-surface h2 {
  margin-bottom: 1rem;
}

.modal-form-surface h4 {
  margin-bottom: 0.3rem;
}

.modal-form-item {
  margin-bottom: 1rem;
}

.modal-form-item p {
  color: red;
}

.modal-form-map {
  border-radius: 75%;
}

.modal-form-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-form-controls button {
  margin-left: 1rem;
}
