.notification-wrapper {
    width: 280px;
    border-radius: 85%;
}

.notification-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: var(--color3);
}

.notification-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: var(--color4);
}

.notification-entries li {
    margin-bottom: 0.75rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}